// colors



$darkTextColor = #2a2f45

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$bgColor = #fff
$headerBgColor = $bgColor;

$footerBgColor = #3c4257
$footerColor = #828282

$newsletterBgColor = #f8f8f8



// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile

$navTextColor = #5469d4
$accentColor = #5469d4
$textColor = #2a2f45
$codeBgColor = #001530
$boxBgColor = #f2f5f7
$tipGrey = #3c4257
$warningPink = #e28ddc
$gazpacho = #ed0100

$contentWidth = 900px